/*#### Burger Menu ####*/

.menu-icon {
    display: block;
    width: 25px;
    height: 2px;
    background: #000;
    position: relative;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 2px;
    background: #000;
}

.menu-icon::before {
    top: -8px;
}

.menu-icon::after {
    top: 8px;
}

.menu-btn {
    display: none;
    cursor: pointer;
    width: 25px;
    margin: 10px auto 0;
}

.menu-flex {
    display: flex;
    justify-content: center;
}

.menu-col {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 10px 0;
}

@media (max-width: 767px) {
    .menu-btn {
        display: block;
    }

    .menu-flex {
        display: none;
    }

    .menu-flex.menu--open {
        display: flex;
        flex-direction: column;
    }
}
